{% extends 'main/layout.html' %}

{% block title %} about {% endblock %}


{% block content %}
    <div class="features">
        <h1> Про нас </h1>
        <p> Работа сил электростатического поля по перемещению заряда q0 из точки 1 в точку 2 поля:
            A12=Wp1−Wp2.
            Выразим потенциальную энергию через потенциалы поля в соответствующих точках:
            Wp1=q0φ1,Wp2=q0φ2.
            Тогда:
            A12=q0(φ1−φ2).
            Таким образом, работа определяется произведением заряда на разность потенциалов начальной и конечной точек.
            Из этой формулы разность потенциалов
            φ1−φ2=A12q0.
            Разность потенциалов — это скалярная физическая величина, численно равная отношению работы сил поля по
            перемещению заряда между данными точками поля к этому заряду.
            В СИ единицей разности потенциалов является вольт (В).
            1 В — разность потенциалов между двумя такими точками электростатического поля, при перемещении между которыми
            заряда в 1 Кл силами поля совершается работа в 1 Дж.
            Разность потенциалов в отличие от потенциала не зависит от выбора нулевой точки. Разность потенциалов φ1 - φ2 часто называют электрическим напряжением
            между данными точками поля:
            U=φ1−φ2.
            Напряжение между двумя точками поля определяется работой сил этого поля по перемещению заряда в 1 Кл из одной точки в другую.
            В электростатическом поле напряжение вдоль замкнутого контура всегда равно нулю.
            Работу сил электрического поля иногда выражают не в джоулях, а в электронвольтах. 1 эВ равен работе, совершаемой силами поля
            при перемещении электрона (е = 1,6·10-19 Кл) между двумя точками, напряжение между которыми равно 1 В.
            1 эВ = 1,6·10-19 Кл·1 В = 1,6·10-19 Дж. 1 МэВ = 106 эВ = 1,6·10-13 Дж.
            Электрическое поле графически можно изобразить не только с помощью линий напряженности, но и с помощью эквипотенциальных поверхностей.
            Эквипотенциальной называется воображаемая поверхность, в каждой точке которой потенциал одинаков.
            Разность потенциалов между двумя любыми точками эквипотенциальной поверхности равна нулю.
            Следовательно, работа по перемещению заряда вдоль эквипотенциальной поверхности равна 0. Но работа рассчитывается по формуле:
            A=FΔrcosα=q0EΔrcosα
            Следовательно, линии напряженности перпендикулярны эквипотенциальным поверхностям.
            Первая эквипотенциальная поверхность металлического проводника — это поверхность самого заряженного проводника, что легко проверить электрометром.
            Остальные эквипотенциальные поверхности проводятся так, чтобы разность потенциалов между двумя соседними поверхностями была постоянной.</p>
        <button class="btn btn-danger"> понял </button>
    </div>
{% endblock %}